<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title >Добавление студента</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="https://uust.ru/static/New_files_ugatu/images/redesign/icons/plane.svg">
</head>
<body>
<nav class="navbar">
            <ul class="navbar__links">
                <li>
                    <a href="{{ url_for('index') }}" class="navbar__brand">Student List</a>
                </li>
            </ul>
            <ul class="navbar__links">
                {% if not session.logged_in %}
                <li>
                    <a href="{{ url_for('login') }}" class="btn-login">Login</a>
                </li>
                {% endif %}
                {% if session.logged_in %}
                <li>
                    <a href="{{ url_for('logout') }}" class="btn-logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
  <div class="list-container">
  <h1 class="title_header add_stud">Добавление студента</h1>
  <form class="student-form" method="POST" action="{{ url_for('add_student') }}">
    <p class="form-row">
      <label class="form-label">ФИО:</label><br>
      <input class="form-input" type="text" name="name" required>
    </p>
    <p class="form-row">
      <label class="form-label">Email:</label><br>
      <input class="form-input" type="email" name="email" >
    </p>
    <p class="form-row">
      <label class="form-label">Курс:</label><br>
      <input class="form-input" type="number" name="course" >
    </p>
    <p class="form-row">
      <label class="form-label">Группа:</label><br>
      <input class="form-input" type="text" name="groups" >
    </p>
    <p class="form-row">
      <label class="form-label">Дата Рождения:</label><br>
      <input class="form-input" type="date" name="birthdate" >
    </p>
    <p class="form-actions">
      <button class="form-submit" type="submit">Добавить</button>
      <a class="form-cancel" href="{{ url_for('index') }}">Отмена</a>
    </p>
  </form>
  </div>
</body>
</html>